*{
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: #121212;
}

.container{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

#nav-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.aBtn {
    text-decoration: none;
    font-size: 21px;
    margin-right: 30px;
}

#cvBtn {
    font-size: 21px;
    background-color: #FD6F00;
    border: 1px solid#FD6F00;
    padding: 10px;
}

#banner-container {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    margin-bottom: 60px;
}

#img-container {
    position: absolute;
    top: -130px;
    left: -15px;
}

#images {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: fit-content;
}

#img2 {
    position: absolute;
    top: 130px; 
    left: 15px;
    width: 485.87px;
}

#img-bg {
    width: 485.87px;
    height: 485.87px;
    background-color: black;
    border-radius: 485.87px;
    border: 2px solid rgba(255, 130, 51, 1);
}

#about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

#about-desc {
    font-size: 18px;
    line-height: 21.33px;
    color:rgba(255, 255, 255, 0.5);
    max-width: 500px;
}

footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 60px;
    background-color: #000000;
}

#footerBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.socialIcons {
    display: flex;
    gap: 30px;
}

#copyRights {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#exprience-section{
    background-image: linear-gradient(to left,rgba(255, 177, 71, 0.1), rgba(255, 108, 99, 0.1), rgba(184, 106, 223, 0.1));
    padding: 120px 10px;
    margin-bottom: 120px;
}

#exprience-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.exprience-left-right{
    max-width: 50%;
}

#awardSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.secSub {
    font-size: 18px;
    max-width: 500px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    margin-bottom: 45px;
}

.award-card {
    background-color: #000000;
    padding: 40px;
    margin-bottom: 30px;
}

.award-heading {
    font-size: 24px; 
    margin-bottom: 15px;
    text-align: center;
}

.award-title {
    font-size: 18px;
    font-weight: 700;
}

.award-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.award-desc {
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.5);
    max-width: 70%;
}

#portfolioSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

#portfolio-tabs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}

.tab {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: #000000;
    cursor: pointer;
}

.project-img {
    background-color: #000000;
    padding-left: 30px;
    padding-right: 30px;
}

.img2 {
    position: relative;
}

.img1 {  
    margin-right: -150px;
}

.project-desc {
    line-height: 21.33px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
}

.project-card {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

#contact-section {
    background-color: rgba(253, 111, 0, 0.1);
    padding: 80px 120px;
    margin-bottom: 100px;
}

#contact-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.two-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 40px;
}

#submit-btn {
    background-color: #FD6F00;
    padding: 10px;
    max-width: 140px;
    text-align: center;
    margin-top: 40px;
}


/* responsive for mobile device */
@media only screen and (min-width: 200px) and (max-width: 576px) {

    .container{
        max-width: 95%;
    }

    /* award section */
    .secSub {
        margin-left: 5px;
        margin-right: 5px;
    }

    .award-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .award-desc {
        max-width: 100%;
    }

    /* contact section */
    #contact-section {
        padding: 20px 30px;
    }

    .two-col {
        grid-template-columns: repeat(1, 1fr);
    }

    /* exprience section */
    #exprience-section{
        padding: 60px 30px;
    }

    #exprience-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .exprience-left-right{
        max-width: 100%;
    }

    /* about section */
    #about-container {
        flex-direction: column;
    }
    
    #about-desc {
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 20px;
    }

    #about-title {
        text-align: center;
    }

    #exp-date {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    /* banner section */
    #banner-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #img-container {
        position: absolute;
        top: -130px;
        left: -15px;
    }
    
    #images {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: fit-content;
    }

    #img1{
        width: 385.87px;
        position: absolute;
        top: 45px; 
        left: 5px;
    }
    
    #img2 {
        position: absolute;
        top: 140px; 
        left: 15px;
        width: 350px;
    }
    
    #img-bg {
        width: 350.87px;
        height: 360.87px;
        border-radius: 360.87px;
    }

    /* portfolio section */
    .project-card {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-bottom: 40px;
    }

    /* navbar */
    #nav {
        flex-direction: column;
        padding: 20px 0px;
    }
    
    #nav-links {
        margin-top: 20px;
    }
}


/* responsive for tav device */
@media only screen and (min-width: 577px) and (max-width: 790px) {

    .container{
        max-width: 90%;
    }

    /* award section */
    .award-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .award-desc {
        max-width: 100%;
    }

    /* exprience section */
    #exprience-section{
        padding: 60px 30px;
    }

    #exprience-container {
        gap: 50px;
    }

    
    /* about section */
    #about-container {
        flex-direction: column;
    }
    
    #about-desc {
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 20px;
    }

    #about-title {
        text-align: center;
    }

    #exp-date {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    /* banner section */
    #banner-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}