*{
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: #121212;
}

.container{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
    padding: 30px 0px;
}

.aBtn {
    text-decoration: none;
    font-size: 21px;
    margin-right: 30px;
}

#cvBtn {
    font-size: 21px;
    background-color: #FD6F00;
    border: 1px solid#FD6F00;
    padding: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    /* border: 1px solid blue; */
    padding-top: 60px;
    background-color: #000000;
}

#footerBtns {
    background-color: #000000;
}

#footerBtns a{
    background-color: #000000;
}

#socialIcons {
    display: flex;
    gap: 30px;
    background-color: #000000;
}

#socialIcons img {
    background-color: #000000;
}

#copyRights {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#awardSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.secSub {
    font-size: 18px;
    max-width: 500px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    margin-bottom: 45px;
}

.award-card {
    background-color: #000000;
    padding: 40px;
    /* border: 1px solid blue; */
    margin-bottom: 30px;
}

.award-heading {
    font-size: 24px; 
    margin-bottom: 15px;
    background-color: #000000;
}

.award-title {
    font-size: 18px;
    font-weight: 700;
    background-color: #000000;
}

.award-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

.award-desc {
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.5);
    max-width: 70%;
    background-color: #000000;
}

#portfolioSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

#portfolio-tabs {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.tab {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: #000000;
    cursor: pointer;
}

.project-img {
    background-color: #000000;
    padding-left: 30px;
    padding-right: 30px;
}

.img2 {
    position: relative;
}

.img1 {  
    margin-right: -150px;
}

.project-desc {
    line-height: 21.33px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
}

.project-card {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

#contact-section {
    background-color: rgba(253, 111, 0, 0.1);
    padding: 80px 120px;
    margin-bottom: 100px;
}

#contact-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.two-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-bottom: 40px;
}

#submit-btn {
    background-color: #FD6F00;
    padding: 10px;
    max-width: 140px;
    text-align: center;
    margin-top: 40px;
}